<form class="{{cssClass}} character-form" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder='{{localize "ICRPG.Name"}}' /></h1>
            <div class="resource grid grid-2col">
                <input type="text" name="data.bioform" value="{{data.data.bioform}}"
                    placeholder='{{localize "ICRPG.LifeForm"}}' />
                <input type="text" name="data.class" value="{{data.data.class}}" placeholder='{{localize "ICRPG.Type"}}' />
            </div>
            <div class="resource story">
                <input type="text" name="data.story" value="{{data.data.story}}" placeholder='{{localize "ICRPG.Story"}}' />
            </div>
            <div class="resource grid grid-3col">
                <input type="text" name="data.love" value="{{data.data.love}}" placeholder='{{localize "ICRPG.Love"}}' />
                <input type="text" name="data.hate" value="{{data.data.hate}}" placeholder='{{localize "ICRPG.Hate"}}' />
                <input type="text" name="data.fear" value="{{data.data.fear}}" placeholder='{{localize "ICRPG.Fear"}}' />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "ICRPG.Main"}}</a>
        <a class="item" data-tab="items">{{localize "ICRPG.Loot"}}</a>
        <a class="item" data-tab="abilities">{{localize "ICRPG.Abilities"}}</a>
        <a class="item" data-tab="spells">{{localize "ICRPG.Spells"}}</a>
        <a class="item" data-tab="effects">{{localize "ICRPG.Effects"}}</a>
        <a class="item" data-tab="extras">{{localize "ICRPG.Extras"}}</a>
        <a class="item" data-tab="description">{{localize "ICRPG.Notes"}}</a>
        <a class="item js-hardsuit" data-tab="hardsuit">{{localize "ICRPG.Hardsuit"}}</a>        
        <a class="item js-hardsuit" data-tab="hardsuitnotes">HS {{localize "ICRPG.Notes"}}</a>        
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="attributes-content grid-2-3-col">
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource stat resource-header">
                        <span class="header">{{localize "ICRPG.Stats"}}</span>
                        <span class="header">{{localize "ICRPG.Base"}}</span>
                        <span class="header">{{localize "ICRPG.Loot"}}</span>
                    </div>

                    {{!-- Stats --}}
                    {{#each (icrpg-array "str" "dex" "con" "int" "wis" "cha") as |id|}}
                    {{#with (lookup ../data.data.stats id) as |stat|}}
                    <div class="resource stat {{id}}">
                        <label for="data.stats.{{id}}.value" class="resource-label rollable"
                            data-roll='1d20+{{stat.value}}'
                            data-label='{{localize (icrpg-concat "ICRPG." (icrpg-toUpperCase id))}}'>
                            {{localize (icrpg-concat "ICRPG." (icrpg-toUpperCase id))}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value"
                                name="data.stats.{{id}}.value">{{numberFormat stat.value decimals=0 sign=false}}</span>
                            <input type="text" name="data.stats.{{id}}.base" value="{{stat.base}}"
                                data-dtype="Number" />
                            <span class="base">{{numberFormat stat.loot decimals=0 sign=false}}</span>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}   
                      
                </div>
                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource effort resource-header">
                        <span class="header">{{localize "ICRPG.Effort"}}</span>
                        <span class="header">{{localize "ICRPG.Base"}}</span>
                        <span class="header">{{localize "ICRPG.Loot"}}</span>
                    </div>

                    {{!-- Effort --}}
                    {{#each (icrpg-array "basic" "weapon" "gun" "magic" "ultimate") as |id|}}
                    {{#with (lookup ../data.data.effort id) as |eff|}}
                    <div class="resource effort {{id}}">
                        <label for="data.effort.{{id}}.value" class="resource-label {{eff.die}} rollable"
                            data-roll='1{{eff.die}}+{{eff.value}}'
                            data-label='{{localize (icrpg-concat "ICRPG.Effort" (icrpg-capitalize id))}}'>
                            {{localize (icrpg-concat "ICRPG.Effort" (icrpg-capitalize id))}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value"
                                name="data.effort.{{id}}.value">{{numberFormat eff.value decimals=0 sign=false}}</span>
                            <input type="text" name="data.effort.{{id}}.base" value="{{eff.base}}"
                                data-dtype="Number" />
                            <span class="base">{{numberFormat eff.loot decimals=0 sign=false}}</span>
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}
                </div>
            </div>
            <div class="attributes-content grid-2col">
                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource coin resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Resources"}}--></span>
                    </div>

                    {{!-- Coin --}}
                    <div class="resource coin">
                        <label for="data.coin.value" class="resource-label"><i class="fa fa-coins"></i>
                            {{localize "ICRPG.Coin"}}</label>
                        <input type="text" name="data.coin.value" value="{{data.data.coin.value}}" data-dtype="Number" />
                    </div>

                    {{!-- Supply --}}
                    <div class="resource coin">
                        <label for="data.coin.value" class="resource-label"><i class="fa fa-box"></i>
                            {{localize "ICRPG.Supply"}}</label>
                        <input type="text" name="data.supply.value" value="{{data.data.supply.value}}" data-dtype="Number" />
                    </div>

                    {{!-- Header --}}
                    <div class="resource herocoin resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.HeroCoin"}}--></span>
                    </div>

                    {{!-- Hero Coin --}}
                    <div class="resource herocoin">
                        {{icrpg-assign 'icrpg-herocoin-id' (icrpg-randomid 'icrpg-herocoin-')}}
                        <input type="checkbox" {{checked data.data.herocoin}} name="data.herocoin" value="{{data.data.herocoin}}"
                            data-dtype="Boolean" id="{{@root.icrpg-herocoin-id}}" />
                        <label for="{{@root.icrpg-herocoin-id}}"></label>
                        <label for="data.herocoin" class="resource-label">{{localize "ICRPG.HeroCoin"}}</span>
                    </div>     
                </div>
                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource armor resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Defense"}}--></span>
                    </div>

                    {{!-- Armor --}}
                    <div class="resource armor">
                        <label for="data.armor.value" class="resource-label rollable"
                            data-roll='1d20+{{icrpg-sum data.data.stats.con.value data.data.armor.loot}}'
                            data-label='{{localize "ICRPG.Defense"}}'>
                            {{localize "ICRPG.Defense"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value">{{icrpg-sum data.data.stats.con.value data.data.armor.loot}}</span>
                            <input type="text" title='{{localize "ICRPG.CON"}}' value="{{data.data.stats.con.value}}" data-dtype="Number" disabled/>
                            <span class="base">{{data.data.armor.loot}}</span>
                        </div>
                    </div>

                    {{!-- HP --}}
                    <div class="resource health">
                        <label for="data.health.value" class="resource-label"> {{localize "ICRPG.HP"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.health.value" value="{{data.data.health.value}}"
                                data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.health.max" value="{{data.data.health.max}}" data-dtype="Number" />
                        </div>
                    </div>

                    {{!-- Header --}}
                    <div class="resource death resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Death"}}--></span>
                    </div>

                    {{!-- Death --}}
                    <div class="resource death">
                        <label for="data.dying.value" class="resource-label death-d4 rollable" data-roll='1d4'
                            data-label='{{localize "ICRPG.Dying"}}'>{{localize "ICRPG.Dying"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.dying.value" value="{{data.data.dying.value}}"
                                data-dtype="Number" />
                            <a class="resource-label revive rollable" data-roll='1d20'
                                data-label='{{localize "ICRPG.Revive"}}'>{{localize "ICRPG.Revive"}}</a>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="attributes-content grid-2col">
                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource grit resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Grit"}}--></span>
                    </div>
                    
                    {{!-- Grit --}}
                    <div class="resource grit js-grit">
                        <label for="data.grit.value" class="resource-label d6 js-gritroll {{#if (gt data.data.grit.value 0)}}rollable{{/if}}" data-roll='{{#if (gt data.data.grit.value 0)}}1d6{{/if}}' data-label='{{localize "ICRPG.Grit"}}'>{{localize "ICRPG.Grit"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.grit.value" value="{{data.data.grit.value}}" class="data-grit" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.gritmax.value" value="{{data.data.gritmax.value}}" data-dtype="Number" />
                        </div>
                    </div>    

                    {{!-- Surge --}}
                    <div class="resource surge js-surge">
                        <label for="data.surge.value" class="resource-label d8 js-surgeroll {{#if (gt data.data.surge.value 0)}}rollable{{/if}}" data-roll='{{#if (gt data.data.surge.value 0)}}1d8{{/if}}'' data-label='{{localize "ICRPG.Surge"}}'>{{localize "ICRPG.Surge"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.surge.value" value="{{data.data.surge.value}}" class="data-surge" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.surgemax.value" value="{{data.data.surgemax.value}}" data-dtype="Number" />
                        </div>
                    </div>  
                </div>
                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource mastery resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Mastery"}}--></span>
                    </div>

                    {{!-- Mastery --}}
                    <div class="resource d20mastery js-d20mastery">
                        <label for="data.d20mastery.value" class="resource-label" data-label='{{localize "ICRPG.Mastery"}}'><i class="fa fa-star"></i> {{localize "ICRPG.Mastery"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.d20mastery.value" value="{{data.data.d20mastery.value}}" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.d20masterymax.value" value="{{data.data.d20masterymax.value}}" data-dtype="Number" disabled />
                        </div>
                    </div>   

                    {{!-- Stun --}}
                    <div class="resource stun js-stun">
                        <label for="data.stun.value" class="resource-label"> {{localize "ICRPG.Stun"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.stun.value" value="{{data.data.stun.value}}" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.stun.max" value="{{data.data.stun.max}}" data-dtype="Number" />
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        {{!--  Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item-header flexrow">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "ICRPG.Name"}}</div>
                    <div class="item-filters">
                        <label title='{{localize "ICRPG.All"}}'><input type="radio" name="equipped" value="" checked>{{localize "ICRPG.All"}}</label>
                        <label title='{{localize "ICRPG.Equipped"}}'><input type="radio" name="equipped" value="equipped"><i class="fas fa-star"></i></label>
                        <label title='{{localize "ICRPG.Unequipped"}}'><input type="radio" name="equipped" value="unequipped"><i class="far fa-star"></i></label>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-loot rollable" data-roll='1d100'
                            data-label='{{localize "ICRPG.LootRoll"}}'>{{localize "ICRPG.LootRoll"}}</a>
                        <a class="item-control item-create" data-action="create" title='{{localize "ICRPG.AddItem"}}'
                            data-type="item"><i class="fas fa-plus"></i></a>
                    </div>
                </li>
                {{#each items as |item id|}}
                <li class="item flexrow {{#if item.data.data.effortFormula}}effortable{{/if}}" data-item-id="{{item.id}}"
                    data-filterable="{{#if item.data.data.equipped}}equipped{{else}}unequipped{{/if}}">
                    <a class="item-image" style='background-image: url("{{item.img}}")' title="{{item.name}}" width="24" height="24">
                    </a>
                    <span class="item-name">
                        <a class="item-control"
                            data-action="edit">{{#if (ne item.data.data.quantity 1)}}{{item.data.data.quantity}}x&nbsp;{{/if}}{{item.name}}</a>
                        <a class="item-control {{#if item.data.data.equipped}}{{else}}hidden{{/if}}" data-action="equip"
                            title='{{localize "ICRPG.Equipped"}}'>
                            <i class="fas fa-star"></i>
                        </a>
                    </span>
                    <div class="item-controls">
                        <a class="item-control item-edit" data-action="edit" title='{{localize "ICRPG.EditItem"}}'><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-action="delete"
                            title='{{localize "ICRPG.DeleteItem"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <li class="item-description flexrow"
                    data-filterable="{{#if item.data.data.equipped}}equipped{{else}}unequipped{{/if}}">
                    <span>{{icrpg-preview item.data.data.description 200}}</span>
                </li>
                {{/each}}
            </ol>
        </div>        

        {{!--  Owned Abilities Tab --}}
        <div class="tab abilities items" data-group="primary" data-tab="abilities">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "ICRPG.Name"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" data-action="create" title='{{localize "ICRPG.AddAbility"}}'
                            data-type="ability"><i class="fas fa-plus"></i></a>
                    </div>
                </li>
                {{#each abilities as |item id|}}
                <li class="item flexrow" data-item-id="{{item.id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    </div>
                    <span class="item-name">
                        <a class="item-control" data-action="edit">{{item.name}}</a>
                    </span>
                    <div class="item-controls">
                        <a class="item-control item-edit" data-action="edit" title='{{localize "ICRPG.EditAbility"}}'><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-action="delete"
                            title='{{localize "ICRPG.DeleteAbility"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <li class="item-description flexrow">
                    <span>{{icrpg-preview item.data.data.description 200}}</span>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!--  Owned Spells Tab --}}
        <div class="tab spells items" data-group="primary" data-tab="spells">
            <ol class="items-list" style="columns: 4; overflow: hidden">
                {{#each mastery as |mastery id|}}
                <li class="mastery-list">
                    <div class="flexrow" style="align-items: center;">
                        <span style="margin-right: 5px;">{{mastery.label}}</span>
                        <input type="number" data-dtype="Number" name="data.mastery.{{mastery.key}}" value="{{mastery.value}}" style="width: 30px;"/>
                    </div>
                </li>
                {{/each}}
            </ol>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "ICRPG.Name"}}</div>
                    <div class="item-name">{{localize "ICRPG.SpellType"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" data-action="create" title='{{localize "ICRPG.AddSpell"}}'
                            data-type="spell"><i class="fas fa-plus"></i></a>
                    </div>
                </li>
                {{#each spells as |item id|}}
                <li class="item flexrow effortable" data-item-id="{{item.id}}">
                    <a class="item-image" style='background-image: url("{{item.img}}")' title="{{item.name}}" width="24" height="24">
                    </a>
                    <span class="item-name">
                        <a class="item-control" data-action="edit">{{item.name}}</a>
                    </span>
                    <div class="item-name">{{icrpg-localize item.data.data.spellType}}</div>
                    <div class="item-controls">
                        <a class="item-control item-edit" data-action="edit" title='{{localize "ICRPG.EditItem"}}'><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-action="delete"
                            title='{{localize "ICRPG.DeleteItem"}}'><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <li class="item-description flexrow">
                    <span>{{icrpg-preview item.data.data.description 200}}</span>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/icrpg/templates/active-effects.html"}}
        </div>

        {{!-- Extras Tab --}}
        <div class="tab extras" data-group="primary" data-tab="extras">
            {{!-- BattleFury --}}
            <div class="resource fury">
                <label for="data.fury.value" class="resource-label" data-label='{{localize "ICRPG.BattleFury"}}'>{{localize "ICRPG.BattleFury"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.fury" class="data-fury" value="{{data.data.fury}}" data-dtype="Number" />
                </div>
                <span class="fury-plus js-fury-plus">+1</span>
                <span class="fury-zero js-fury-zero">reset</span>
            </div>   

            {{!-- Rage --}}
            <div class="resource rage">
                <label for="data.rage.value" class="js-rage resource-label d6 {{#if (gt data.data.rage 0)}}rollable{{/if}}" data-roll='{{#if (gt data.data.rage 0)}}{{data.data.rage}}d6{{/if}}' data-label='{{localize "ICRPG.Rage"}}'>{{localize "ICRPG.Rage"}}</label>
                <div class="resource-content">
                    <input type="text" name="data.rage" class="data-rage" value="{{data.data.rage}}" data-dtype="Number" />
                </div>
                <span class="rage-plus js-rage-plus">+1</span>
            </div>                
            
            <hr>

            {{!-- Header --}}
            <div class="resource stat resource-header">
                <span class="header">{{localize "ICRPG.Rules"}}</span>
            </div>
            {{editor content=data.data.rules target="data.rules" button=true owner=owner editable=editable}}
        </div>

        {{!-- Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Hard Suit Tab --}}
        <div class="tab hardsuit js-hardsuit" data-group="primary" data-tab="hardsuit">
            <div class="attributes-content grid-2-3-col">
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource stat resource-header">
                        <span class="header">{{localize "ICRPG.Stats"}}</span>
                        <span class="header">{{localize "ICRPG.Suit"}}</span>
                        <span class="header">{{localize "ICRPG.Loot"}}</span>
                    </div>

                    {{!-- Hard Suit Stats --}}
                    <div class="resource stat str">
                        <label for="data.hardsuit.str.value" class="resource-label rollable" data-roll='1d20+{{icrpg-summax10 data.data.hardsuit.str.base data.data.hardsuit.str.loot}}' data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.STR"}}'>
                            {{localize "ICRPG.STR"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.hardsuit.str.value">{{icrpg-summax10 data.data.hardsuit.str.base data.data.hardsuit.str.loot}}</span>
                            <input type="text" name="data.hardsuit.str.base" value="{{data.data.hardsuit.str.base}}" data-dtype="Number" />
                            <input type="text" name="data.hardsuit.str.loot" value="{{data.data.hardsuit.str.loot}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource stat dex">
                        <label for="data.hardsuit.dex.value" class="resource-label rollable" data-roll='1d20+{{icrpg-summax10 data.data.hardsuit.dex.base data.data.hardsuit.dex.loot}}' data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.DEX"}}'>
                            {{localize "ICRPG.DEX"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.hardsuit.dex.value">{{icrpg-summax10 data.data.hardsuit.dex.base data.data.hardsuit.dex.loot}}</span>
                            <input type="text" name="data.hardsuit.dex.base" value="{{data.data.hardsuit.dex.base}}" data-dtype="Number" />
                            <input type="text" name="data.hardsuit.dex.loot" value="{{data.data.hardsuit.dex.loot}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource stat con">
                        <label for="data.hardsuit.con.value" class="resource-label rollable" data-roll='1d20+{{icrpg-summax10 data.data.hardsuit.con.base data.data.hardsuit.con.loot}}' data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.CON"}}'>
                            {{localize "ICRPG.CON"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.hardsuit.con.value">{{icrpg-summax10 data.data.hardsuit.con.base data.data.hardsuit.con.loot}}</span>
                            <input type="text" name="data.hardsuit.con.base" value="{{data.data.hardsuit.con.base}}" data-dtype="Number" />
                            <input type="text" name="data.hardsuit.con.loot" value="{{data.data.hardsuit.con.loot}}" data-dtype="Number" />
                        </div>
                    </div>

                    {{!-- Header --}}
                    <div class="resource stat resource-header">
                        <span class="header">{{localize "ICRPG.Stats"}}</span>
                        <span class="header">{{localize "ICRPG.Base"}}</span>
                        <span class="header">{{localize "ICRPG.Loot"}}</span>
                    </div>

                    {{!-- Character Stats --}}
                    <div class="resource stat int">
                        <label for="data.stats.int.value" class="resource-label rollable"
                            data-roll='1d20+{{data.data.stats.int.value}}'
                            data-label='{{localize "ICRPG.INT"}}'>
                            {{localize "ICRPG.INT"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.stats.int.value">{{numberFormat data.data.stats.int.value decimals=0 sign=false}}</span>
                            <span class="base">{{numberFormat data.data.stats.int.base decimals=0 sign=false}}</span>
                            <span class="base">{{numberFormat data.data.stats.int.loot decimals=0 sign=false}}</span>
                        </div>
                    </div>                     
                    <div class="resource stat wis">
                        <label for="data.stats.wis.value" class="resource-label rollable"
                            data-roll='1d20+{{data.data.stats.wis.value}}'
                            data-label='{{localize "ICRPG.WIS"}}'>
                            {{localize "ICRPG.WIS"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.stats.wis.value">{{numberFormat data.data.stats.wis.value decimals=0 sign=false}}</span>
                            <span class="base">{{numberFormat data.data.stats.wis.base decimals=0 sign=false}}</span>
                            <span class="base">{{numberFormat data.data.stats.wis.loot decimals=0 sign=false}}</span>
                        </div>
                    </div>                     
                    <div class="resource stat cha">
                        <label for="data.stats.cha.value" class="resource-label rollable"
                            data-roll='1d20+{{data.data.stats.cha.value}}'
                            data-label='{{localize "ICRPG.CHA"}}'>
                            {{localize "ICRPG.CHA"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.stats.cha.value">{{numberFormat data.data.stats.cha.value decimals=0 sign=false}}</span>
                            <span class="base">{{numberFormat data.data.stats.cha.base decimals=0 sign=false}}</span>
                            <span class="base">{{numberFormat data.data.stats.cha.loot decimals=0 sign=false}}</span>
                        </div>
                    </div>                     
                    
                </div>
                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource effort resource-header">
                        <span class="header">{{localize "ICRPG.Effort"}}</span>
                        <span class="header">{{localize "ICRPG.Base"}}</span>
                        <span class="header">{{localize "ICRPG.Suit"}}</span>
                    </div>

                    <div class="resource effort basic">
                        <label for="data.effort.basic.value" class="resource-label d4 rollable"
                            data-roll='1d4+{{icrpg-summax10 data.data.effort.basic.base data.data.hardsuit.basic.value}}'
                            data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.EffortBasic"}}'>
                            {{localize "ICRPG.EffortBasic"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.effort.basic.value">{{icrpg-summax10 data.data.effort.basic.base data.data.hardsuit.basic.value}}</span>
                            <span class="base">{{numberFormat data.data.effort.basic.base decimals=0 sign=false}}</span>
                            <input type="text" name="data.hardsuit.basic.value" value="{{data.data.hardsuit.basic.value}}" data-dtype="Number" />
                        </div>
                    </div>                    
                    <div class="resource effort weapon">
                        <label for="data.effort.weapon.value" class="resource-label d6 rollable"
                            data-roll='1d6+{{icrpg-summax10 data.data.effort.weapon.base data.data.hardsuit.weapon.value}}'
                            data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.EffortWeapon"}}'>
                            {{localize "ICRPG.EffortWeapon"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.effort.weapon.value">{{icrpg-summax10 data.data.effort.weapon.base data.data.hardsuit.weapon.value}}</span>
                            <span class="base">{{numberFormat data.data.effort.weapon.base decimals=0 sign=false}}</span>
                            <input type="text" name="data.hardsuit.weapon.value" value="{{data.data.hardsuit.weapon.value}}" data-dtype="Number" />
                        </div>
                    </div>                    
                    <div class="resource effort gun">
                        <label for="data.effort.gun.value" class="resource-label d8 rollable"
                            data-roll='1d8+{{icrpg-summax10 data.data.effort.gun.base data.data.hardsuit.gun.value}}'
                            data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.EffortGun"}}'>
                            {{localize "ICRPG.EffortGun"}}
                        </label> 
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.effort.gun.value">{{icrpg-summax10 data.data.effort.gun.base data.data.hardsuit.gun.value}}</span>
                            <span class="base">{{numberFormat data.data.effort.gun.base decimals=0 sign=false}}</span>
                            <input type="text" name="data.hardsuit.gun.value" value="{{data.data.hardsuit.gun.value}}" data-dtype="Number" />
                        </div>
                    </div>                    
                    <div class="resource effort magic">
                        <label for="data.effort.magic.value" class="resource-label d10 rollable"
                            data-roll='1d10+{{icrpg-summax10 data.data.effort.magic.base data.data.hardsuit.magic.value}}'
                            data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.EffortMagic"}}'>
                            {{localize "ICRPG.EffortMagic"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.effort.magic.value">{{icrpg-summax10 data.data.effort.magic.base data.data.hardsuit.magic.value}}</span>
                            <span class="base">{{numberFormat data.data.effort.magic.base decimals=0 sign=false}}</span>
                            <input type="text" name="data.hardsuit.magic.value" value="{{data.data.hardsuit.magic.value}}" data-dtype="Number" />
                        </div>
                    </div>                    
                    <div class="resource effort ultimate">
                        <label for="data.effort.ultimate.value" class="resource-label d12 rollable"
                            data-roll='1d12+{{icrpg-summax10 data.data.effort.ultimate.base data.data.hardsuit.ultimate.value}}'
                            data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.EffortUltimate"}}'>
                            {{localize "ICRPG.EffortUltimate"}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value" name="data.effort.ultimate.value">{{icrpg-summax10 data.data.effort.ultimate.base data.data.hardsuit.ultimate.value}}</span>
                            <span class="base">{{numberFormat data.data.effort.ultimate.base decimals=0 sign=false}}</span>
                            <input type="text" name="data.hardsuit.ultimate.value" value="{{data.data.hardsuit.ultimate.value}}" data-dtype="Number" />
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="attributes-content grid-2-3-col">
                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource coin resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Resources"}}--></span>
                    </div>

                    {{!-- Hits --}}
                    <div class="resource health">
                        <label for="data.health.value" class="resource-label"> {{localize "ICRPG.Hits"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">&nbsp;</div>
                    </div>                   
                    <div class="resource">
                        <label for="data.hardsuit.hitcore.value" class="resource-label"> {{localize "ICRPG.HSCore"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.hardsuit.hitcore.value" value="{{data.data.hardsuit.hitcore.value}}" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.data.hardsuit.hitcore.max" value="{{data.data.hardsuit.hitcore.max}}" data-dtype="Number" />
                        </div>
                    </div>                   
                    <div class="resource">
                        <label for="data.hardsuit.hitleft.value" class="resource-label"> {{localize "ICRPG.HSLeft"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.hardsuit.hitleft.value" value="{{data.data.hardsuit.hitleft.value}}" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.data.hardsuit.hitleft.max" value="{{data.data.hardsuit.hitleft.max}}" data-dtype="Number" />
                        </div>
                    </div>                   
                    <div class="resource">
                        <label for="data.hardsuit.hitright.value" class="resource-label"> {{localize "ICRPG.HSRight"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.hardsuit.hitright.value" value="{{data.data.hardsuit.hitright.value}}" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.data.hardsuit.hitright.max" value="{{data.data.hardsuit.hitright.max}}" data-dtype="Number" />
                        </div>
                    </div>                   
                    <div class="resource">
                        <label for="data.hardsuit.hitlegs.value" class="resource-label"> {{localize "ICRPG.HSLegs"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.hardsuit.hitlegs.value" value="{{data.data.hardsuit.hitlegs.value}}" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.data.hardsuit.hitlegs.max" value="{{data.data.hardsuit.hitlegs.max}}" data-dtype="Number" />
                        </div>
                    </div>                   
                </div>

                <div class="resources">
                    {{!-- Header --}}
                    <div class="resource armor resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Defense"}}--></span>
                    </div>

                    {{!-- Armor --}}
                    <div class="resource armor">
                        <label for="data.hardsuite.defense.value" class="resource-label rollable"
                            data-roll='1d20+{{icrpg-sum data.data.hardsuit.con.value data.data.hardsuit.defense.value}}'
                            data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.Defense"}}'>
                            {{localize "ICRPG.Defense"}} </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value">{{icrpg-sum data.data.hardsuit.con.value data.data.hardsuit.defense.value}}</span>
                            <input type="text" title='{{localize "ICRPG.CON"}}' value="{{data.data.hardsuit.con.value}}" data-dtype="Number"/>
                            <input type="text" title='{{localize "ICRPG.Hardsuit"}}' value="{{data.data.hardsuit.defense.value}}" data-dtype="Number"/>
                        </div>
                    </div>    

                    {{!-- Header --}}
                    <div class="resource coin resource-header">
                        <span class="header">
                            <!--{{localize "ICRPG.Resources"}}--></span>
                    </div>

                    {{!-- Power --}}
                    <div class="resource">
                        <label for="data.hardsuit.power.value" class="resource-label powerroll rollable" data-label='{{localize "ICRPG.Hardsuit"}} {{localize "ICRPG.Power"}}' data-roll='1d100'}}'>{{localize "ICRPG.Power"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.hardsuit.power.value" value="{{data.data.hardsuit.power.value}}" data-dtype="Number" />
                            <span class="separator">/</span>
                            <input type="text" name="data.data.hardsuit.power.max" value="{{data.data.hardsuit.power.max}}" data-dtype="Number" />
                        </div>
                    </div>  
                </div>                
            </div>
        </div>

        {{!-- Hard Suit Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="hardsuitnotes">
            {{editor content=data.data.hardsuit.description target="data.hardsuit.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>