<div>
    <input type="number" value="" placeholder="{{globalDC}}"/>

    <button type="button" class="submit" style="margin-top:6px;">{{localize "ICRPG.SetGlobalDC"}}</button>
    <div class="targets">
        <button type="button" class="settarget target-10">10</button>
        <button type="button" class="settarget target-12">12</button>
        <button type="button" class="settarget target-14">14</button>
    </div>
    <div class="targets">
        <button type="button" class="settarget target-16">16</button>
        <button type="button" class="settarget target-18">18</button>
        <button type="button" class="settarget target-20">20</button>
    </div>
</div>